*,
*::before,
*::after {
	box-sizing: border-box;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	line-height: 1.;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd,
figure {
  margin: 0;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}


ul[class],
ol[class] {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

body {
	line-height: 1.6;
    background-color: beige;
}

header {
    text-align: center;
    margin: 5rem;
}

.container {
    min-height: 30rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.inputs {
    display: flex;
    gap: 0.5rem;
}

.btn {
    width: 5rem;
    padding: 0.5rem;
}
